div,
form {
  border: 1px solid lightblue;
  margin: 5px;
}

.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6c6c6c;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 650px;
  border-radius: 15px;
  box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: #ededed;
}

.title {
  min-width: 50px;
  min-height: 50px;
}

.content {
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
}
